* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    background-color: #FFFFFF;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    text-align: center;
  }
  
#h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
    line-height: 2rem;
    text-align: right;
}

#cBtn {
    display: inline-block;
    position: absolute;
    margin-left: 190px;
    background: white;
    border: 0;
    cursor: pointer;
}

#score {
    text-align: left;
    font-size: 2rem;
}

#bestScore {
    text-align: left;
    font-size: 1rem;
}

#sBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 50px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-size: xx-large;
    cursor: pointer;
}

#nPopup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

#nPopup-content {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}

#nPopup-content h1 {
    text-align: center;
}

#nPopup-content p {
    margin-left: 10px;
    line-height: 4;
}

#nPopup-content button {
    margin: auto;
    display: block;
    border: 0;
    background: white;
    cursor: pointer;
}

#nPopup-content img {
    width: 30px;
    height: 30px;
}

#goPopup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

#goPopup-content {
    background-color: white;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 2;
}

.btn-container {
    margin-top: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    
}

.btn-container button {
    margin-left: 30px;
    margin-right: 30px;
    border: 0;
    background: white;
    cursor: pointer;
}

.btn-container img {
    width: 30px;
    height: 30px;
    margin-top: 30px
}

#ePopup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

.end-content {
    background-color: white;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 2;
}

.end-content h1 {
    margin-top: 20px;
    margin-bottom: 50px;
}
.end-content p {
    font-size: 20px;
    margin-bottom: 15px;
}

.end-content button {
    margin: 10px;
    padding: 10px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 25px;  
}

.end-content .btn-last {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}
canvas {
    background-color: lightblue;
}

#controls {
    display: flex;
    justify-content: center;
}

.arrow {
    text-align: center;
    padding:  25px;
    font-size: large;
    font-weight: bolder;
}
