* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: gray;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    background-color: aqua;
}

.game-details {
    color: black;
    font-size: 15px;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr); */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(30, 1fr); /* 각 열의 크기를 1fr로 지정 */
    grid-template-columns: repeat(30, 1fr); /* 그리드 컬럼 */
    -ms-grid-rows: repeat(30, 1fr); /* 각 행의 크기를 1fr로 지정 */
    grid-template-rows: repeat(30, 1fr); /* 그리드 로우 */
    background: white;
}

.play-board div {
    width: calc(100% / 30);
    height: calc(100% / 30);
    box-sizing: border-box;
    border: 1px solid black; /* 셀 테두리 추가 */
    z-index: 0;
    position: relative;
}

.play-board .food {
    background-image: url('worm/img/acorn.png');
    background-size: contain;
    background-repeat: no-repeat;
    background: red;
    z-index: 0;
    position: relative;
    width: 20px; /* 적절한 너비 설정 */
    height: 20px;
}

.play-board .head {
    /* background-image: url('/img/start.png'); */
    /* background-size: contain;
    background-repeat: no-repeat; */
    border-radius: 30px;
    background: blue;
    z-index: 0;
    position: relative;
    width: 20px; /* 적절한 너비 설정 */
    height: 20px;
}

.controls {
    display: flex;
    justify-content: center;
}

.controls i {
    text-align: center;
    padding:  25px;
}

#startPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startBtn {
    text-align: center;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: xx-large;
    background: white;
    cursor: pointer;
    font-style: bold;
}

#noticePopup {
    background: rgb(221, 218, 218);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 50vmin;
    box-sizing: border-box;
    border-radius: 5px;
    
}

#noticePopup h1 {
    text-align: center;
    width: 100%;
    
}

#noticePopup p {
    text-align: left;
    line-height: 4;
    width: 100%;
}

#gameStartBtn {
    align-self: center;
    width: 40px;
    height: 40px;
    border: 0;
    background: rgb(221, 218, 218);
    cursor: pointer;
}

.popup-content {
    background: rgb(221, 218, 218);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 25vmin;
    box-sizing: border-box;
    border-radius: 5px;
}

.popup-content h1 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.btn-container {
    line-height: 5;
    margin-top: 30px;
}

.btn-container button {
    margin-left: 30px;
    margin-right: 30px;
    border: 0;
    background: rgb(221, 218, 218);
    cursor: pointer;
}

.btn-container img {
    width: 30px;
    height: 30px;
}

.end-content {
    background: rgb(221, 218, 218);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 25vmin;
    box-sizing: border-box;
    border-radius: 5px;
}
.end-content h1 {
    margin-top: 20px;
    margin-bottom: 50px;
}
.end-content p {
    font-size: 20px;
    margin-bottom: 15px;
    
}
/* .btn-last {
    line-height: 5;
    margin-top: 30px;
} */

.end-content button {
    margin: 10px;
    padding: 10px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 25px;
    
    
}

.end-content .btn-last {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
}


/* #instructions {
    display: none;
}

#results,
body:hover #instructions {
    position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53%;
  width: 65%;
  background-color: rgba(20, 20, 20, 0.75);
}
#results {
    display: none;
    cursor: default;
  }
  
  #results .content,
  #instructions .content {
    max-width: 300px;
    padding: 50px;
    border-radius: 20px;
  }
  
  #results {
  } */

/* .alertOn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */